<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>This is a success message</p>
        </div>
    </div>
</div>

<!--<p>{{'Server'}} have id {{serverid}} with status {{serverstatus}} and name of user {{getserverName()}} </p>-->
<!--<button class="btn btn-primary" [disabled]="!allowUsertoadd" (click)="OnClickbtton()">Add User</button>
<p>{{ ServerstatusMessage }}</p>
<input type="text" class="form-control" (input)="onUpdateServerName($event)">
<input type="text" class="form-control" [(ngModel)]="ServerstatusMessage">-->